<% include partials/header %>
    <div class ="container">
        <h1>Error Page!</h1>
        <p>If you are seeing this, You tried some invalid address URL</p>
        <p>You might want to start from our Home page <a href="/">Click here for Home Page of YelpCamp</a></p>
    </div>

<% include partials/footer %>